h1{
    color: rgb(10, 1, 114);
    text-align: center;
    font-size:px;
}
.paragrafo{
    font-size: 18px;
    color: rgb(1, 1, 2);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.758);
}
#caixa{
    font-size: 18px;
    color: rgb(2, 8, 9);
    padding: 10px;
    border: 1px solid rgb(252, 250, 250);
}
.certo{
    font-size: 18px;
    color: rgb(4, 2, 14);
    padding: 10px;
    border: 1px solid rgb(254, 253, 253);
}

body {background-color: rgb(153, 207, 243);}
